body {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aligning {
  width: 940px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.aligning-viewport {
  min-width: 960px;
}

.content {
  background-color: #ffffff;
}

.content-caption {
  text-transform: uppercase;
}

.content-caption-h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.content-text {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.content-text-inner {
  width: 960px;
  margin-top: 3px;
  margin-bottom: 25px;
  padding: 0px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.caption-button {
  width: 886px;
  height: 89px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 24px;
  background-color: #f9f5f0;
}

.caption-button h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
}

.button {
  min-width: 197px;
  height: 38px;
  position: relative;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
  text-transform: uppercase;
  border: 0px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
  cursor: pointer;
}

.wide-button {
  width: 253px;
}

.button-link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.stylized-background {
  background-color: #f4f7f9;
}

.stylized-background-header {
  height: 320px;
  background-color: #f4f7f9;
}

/*  Логотип компании в шапке  */
.logo-header-main {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.logo-header {
  width: 220px;
  height: 42px;
  background-color: #ee3643;
}

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.logo-img-main {
  width: 109px;
  height: 19px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 56px;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo-header-img {
  width: 109px;
  height: 19px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 56px;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo-header-img:hover {
  box-shadow: 0 5px 0 0 #9a212a;
}

.logo-header-img:active {
  box-shadow: 0 5px 0 0 #8e1e26;
}

/*  Верхнее меню: Поиск, Закладки, Корзина, Оформить заказ  */

.top-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 42px;
  font-size: 17px;
  background-color: #293449;
  line-height: 18px;
}

.top-header-link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.top-header-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.search {
  position: relative;
  display: flex;
  flex-grow: 2;
}

.search-label {
  position: absolute;
  top: 12px;
  left: 49px;
  color: #ffffff;
}

.search-input {
  width: 220px;
  font: inherit;
  box-sizing: border-box;
  padding: 0px 5px;
  margin: 0px;
  border: none;
  color: #ffffff;
  background-color: #293449;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:focus,
.search-input:valid {
  z-index: 10;
  color: #000000;
  background-color: #ffffff;
}

.search-input:not(:valid) {
  box-shadow: none;
}

.search-button {
  font: inherit;
  order: -1;
  padding-left: 17px;
  padding-right: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.3);
  background-color: #293449;
}

.search-button:hover {
  color: #ffffff;
  background-color: #212a3a;
}

.search-input:focus + .search-button {
  color: #ee3643;
  background-color: #ffffff;
}

.icon-search {
  fill: currentColor;
  cursor: pointer;
}

.bookmarks {
  display: flex;
  margin-right: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bookmarks .icon-bookmarks::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-right: 10px;
  background: url("../img/icon-bookmarks.svg") no-repeat;
  opacity: 0.3;
  content: "";
}

.bookmarks:hover .icon-bookmarks::before {
  opacity: 1;
}

.cart {
  display: flex;
  margin-right: 0px;
  padding-right: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-filled {
  background-color: #ee3643;
}

.cart .icon-cart::before {
  display: inline-block;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-right: 5px;
  padding-left: 10px;
  background: url("../img/icon-cart.svg") no-repeat;
  opacity: 0.3;
  content: "";
}

.cart:hover .icon-cart::before {
  opacity: 1;
}

.order {
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0px;
  background: #63a63e;
}

.order a {
  padding-left: 20px;
  padding-right: 20px;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

/*  Шапка страницы: Слоган магазина, контакты, Личный кабинет  */

.page-header {
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 30px;
}

.slogan {
  width: 200px;
  margin-top: 0px;
  margin-right: 40px;
  padding-left: 52px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts-header div {
  width: 265px;
  min-height: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  border: 3px #ffffff solid;
}

.contacts-header a {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.contacts-header .icon-phone::before {
  display: inline-block;
  width: 20px;
  height: 19px;
  vertical-align: middle;
  margin-right: 40px;
  margin-left: 0px;
  padding-left: 0px;
  background: url("../img/icon-phone.svg") no-repeat;
  background-position: 0px 0px;
  content: "";
}

.contacts-header address {
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  color: #32425c;
}

.account {
  min-width: 100px;
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.account-link {
  height: 35px;
  display: block;
  margin-left: 10px;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.account-link:hover {
  color: #ee3643;
}

.account-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.account .icon-user::before {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin-right: 2px;
  padding-right: 10px;
  vertical-align: middle;
  background: url("../img/icon-user.svg") no-repeat;
  content: "";
}

.account .icon-login::before {
  display: inline-block;
  width: 15px;
  height: 17px;
  vertical-align: middle;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 17px;
  background: url("../img/icon-login.svg") no-repeat;
  background-position: 0px 0px;
  content: "";
}

.account-user {
  height: 35px;
  display: block;
  margin-left: 3px;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 26px;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.account .icon-logout {
  display: block;
  width: 20px;
  height: 45px;
  padding: 0px 11px;
  background: url("../img/icon-logout.svg") no-repeat;
  background-position: 11px 12px;
  background-color: #ffffff;
}

.account-active {
  width: 210px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 20px;
}

.account-active::before {
  content: "•";
  order: 2;
}

.account-active a:nth-child(1) {
  order: 1;
}

.account-active a:nth-child(2) {
  order: 3;
}

.account-active-link {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.account-active-link:hover {
  color: #ee3643;
}

.account-active-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*  Хлебные крошки */

.breadcrumbs ul {
  margin-top: 20px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  list-style-type: none;
}

.breadcrumbs-link {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 19px;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link::before {
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-right: 13px;
  vertical-align: middle;
  background: url("../img/icon-right-small.svg") no-repeat;
  content: "";
}

.breadcrumbs-home {
  display: inline-block;
  width: 14px;
  height: 12px;
  padding: 10px 2px;
  vertical-align: middle;
}

.breadcrumbs .icon-home {
  width: 14px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/icon-home.svg") no-repeat;
  background-position: 0px 3px;
  content: "";
}

/* Навигация по странице: Главная, Компания, Каталог, Новости, Спецпредложения, Доставка, Контакты  */

.page-nav {
  width: 940px;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  background-color: #32425c;
  border-bottom: 4px #293449 solid;
}

.page-nav-list {
  width: 940px;
  min-height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.page-nav-list li:nth-child(1) {
  margin-left: 4px;
  margin-right: 5px;
}

.page-nav-list li:nth-child(3),
.page-nav-list li:nth-child(4) {
  margin-left: 1px;
  margin-right: 1px;
}

.page-nav-list li:nth-child(6) {
  margin-left: 3px;
  margin-right: 2px;
}

.page-nav-list li:nth-child(7) {
  margin-left: 2px;
  margin-right: 7px;
}

.page-nav-link {
  display: inline-block;
  min-width: auto;
  min-height: 20px;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  user-select: none;
}

.page-nav-link:link:hover {
  background-color: #293449;
}

.page-nav-link:link:active {
  color: rgba(255, 255, 255, 0.5);
}

/* Плитки на Главной: Материалы, Инструмент, Техника, Скидки, Доставка */

.features-block {
  padding: 0px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.features-block ul {
  padding: 0;
  display: flex;
}

.features-block-caption {
  width: 200px;
  margin-top: 10px;
  margin-left: 22px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.features-block-button {
  width: 135px;
  min-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 25px;
  padding-top: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.features-block-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-block-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-block-button a {
  color: #ffffff;
}

.features-block-material {
  width: 300px;
  min-height: 123px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 20px;
  background-color: #ffbf47;
}

.features-material-icon {
  width: 300px;
  min-height: auto;
  display: block;
  margin-bottom: 0px;
  vertical-align: top;
  background: url("../img/icon-1.svg") no-repeat;
  background-position-x: 214px;
  background-position-y: 20px;
}

.features-block-instrument {
  width: 300px;
  min-height: 123px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 20px;
  background-color: #3bbce3;
}

.features-instrument-icon {
  width: 300px;
  min-height: auto;
  display: block;
  vertical-align: top;
  background: url("../img/icon-2.svg") no-repeat;
  background-position-x: 198px;
  background-position-y: 25px;
}

.features-block-technics {
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #dc91d8;
}

.features-technics-icon {
  width: 300px;
  min-height: auto;
  display: block;
  margin-bottom: 0px;
  vertical-align: top;
  background: url("../img/icon-3.svg") no-repeat;
  background-position-x: 190px;
  background-position-y: 20px;
}

.features-block-sale {
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 640px;
  background-color: #8ed78f;
}

.features-sale-icon {
  width: 300px;
  min-height: auto;
  display: block;
  margin-bottom: 0px;
  vertical-align: top;
  background: url("../img/icon-4.svg") no-repeat;
  background-position-x: 197px;
  background-position-y: 20px;
}

.features-block-delivery {
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 640px;
  background-color: #ffc047;
}

.features-delivery-icon {
  width: 300px;
  min-height: auto;
  display: block;
  margin-bottom: 0px;
  vertical-align: top;
  background: url("../img/icon-5.svg") no-repeat;
  background-position-x: 190px;
  background-position-y: 25px;
}

.features-slider {
  width: 595px;
  position: relative;
  margin-top: -283px;
  min-height: 266px;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
}

.features-slider li {
  display: flex;
  flex-direction: column;
  min-height: 266px;
}

.features-slider-drills {
  z-index: 0;
  position: absolute;
}

.features-slider-drills::before {
  content: "";
  position: absolute;
  bottom: 36px;
  left: 295px;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}

.features-slider-drills::after {
  content: "";
  position: absolute;
  bottom: 36px;
  right: 295px;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ee3643;
}

.features-slider-perforator {
  z-index: 0;
  position: absolute;
}

.features-slider-perforator::before {
  content: "";
  position: absolute;
  bottom: 36px;
  left: 295px;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ee3643;
}

.features-slider-perforator::after {
  content: "";
  position: absolute;
  bottom: 36px;
  right: 295px;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}

.slider-visible {
  z-index: 5;
}

.features-slider-caption {
  margin: 0 24px;
  padding-top: 20px;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.features-slider-description {
  margin: 0 24px;
  font-size: 18px;
  color: #ffffff;
}

.features-slider-switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 20px 30px 25px;
  padding: 0px;
}

.features-slider-previous {
  width: 22px;
  height: 40px;
  background: url("../img/icon-left.svg") no-repeat;
  border: none;
}

.features-slider-next {
  width: 22px;
  height: 40px;
  margin-left: auto;
  background: url("../img/icon-right.svg") no-repeat;
  border: none;
}

.features-slider-button {
  margin: auto;
  margin-left: 25px;
  margin-bottom: 22px;
  min-width: 195px;
  min-height: 38px;
  padding: 0;
}

.features-slider-img {
  order: -1;
  width: 620px;
  min-height: 266px;
  margin: 0;
  margin-bottom: -266px;
}

/*  Фильтры каталога товаров  */
.filter-background {
  min-height: 30px;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.catalog-filter {
  width: 220px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: 20px;
}

.filter-caption {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog-filter fieldset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}

.catalog-filter button[type="submit"] {
  width: 140px;
  height: 38px;
  margin-top: 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px #e5e5e5 solid;
  border-radius: 3px;
}

.filter-price {
  width: 220px;
  padding-left: 0px;
}

.filter-price legend {
  margin-top: 15px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.price-range {
  margin-top: 10px;
}

.range-controls {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-right: 25px;
  padding-left: 30px;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border: 8px #ffffff solid;
  border-radius: 50%;
  cursor: grab;
}

.toggle:active {
  cursor: grabbing;
}

.range-controls .controls-min {
  left: 20px;
}

.range-controls .controls-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.price-controls input {
  width: 90px;
  height: 35px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  background-color: #f7f3ec;
  border: 0px;
}

.price-controls input[type="number"] {
  -moz-appearance: textfield;
}

.price-controls input[type="number"]::-webkit-outer-spin-button,
.price-controls input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls span {
  width: 10px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  background-color: #000000;
}

.filter-brand {
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.filter-brand legend {
  width: 220px;
  margin-left: auto;
  margin-right: 10px;
  padding-top: 23px;
  padding-left: 0px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  border-top: 1px #e5e5e5 solid;
}

.filter-brand ul {
  margin-bottom: 10px;
  padding: 0px;
  list-style-type: none;
}

.filter-charging {
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.filter-charging legend {
  width: 220px;
  margin-left: auto;
  padding-top: 20px;
  padding-left: 0px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  border-top: 1px #e5e5e5 solid;
}

.filter-charging ul {
  padding: 0px;
  list-style-type: none;
}

.filter-option {
  margin-bottom: 18px;
}

.filter-option label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  width: 27px;
  height: 23px;
  left: 0px;
  top: 0px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23c5c5c5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.filter-input-checkbox:focus + label::before,
.filter-input-checkbox + label:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23b5b5b5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

.filter-input-checkbox:disabled + label {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.4);
}

.filter-input-checkbox:checked + label::after {
  width: 27px;
  height: 23px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23c5c5c5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.filter-input-checkbox:checked:focus + label::after,
.filter-input-checkbox:checked + label:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23b5b5b5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E ");
}

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;
  left: 0px;
  top: -2px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.4);
}

.filter-input-radio:focus + label::before,
.filter-input-radio + label:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E ");
}

.filter-input-radio:checked + label::after {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -2px;
  left: 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23c5c5c5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.filter-input-radio:checked:focus + label::after,
.filter-input-radio:checked + label:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23b5b5b5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E ");}

.product-sorting {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-left: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-type {
  min-width: 350px;
  min-height: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}

.sorting-type a {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ee3643;
}

.sorting-type a:link,
.sorting-type a:visited {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #ee3643 1px;
}

.sorting-type li:nth-child(1) {
  margin-right: 51px;
}

.sorting-type li:nth-child(2) {
  margin-right: 42px;
}

.sorting-type li:nth-child(3) {
  margin-right: 0px;
}

.sorting-arrow-up a {
  display: block;
  width: 11px;
  height: 10px;
  margin-left: 20px;
  margin-right: 0px;
  padding-top: 0;
}

.sorting-arrow-down a {
  display: block;
  width: 11px;
  height: 10px;
  margin-left: 0px;
  padding-top: 0;
}

/*  Каталог товаров  */
.content-caption-product {
  width: 900px;
  min-height: 30px;
  margin-top: 8px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 27px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.catalog-flex {
  width: 940px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}

.product-list tbody {
  width: 700px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-item {
  width: 220px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  overflow: hidden;
  border: 1px #eaeaea solid;
}

.product-item:nth-child(1n) {
  margin-left: 0px;
  margin-right: 17px;
}

.product-item:nth-child(2n) {
  margin-right: 17px;
}

.product-item:nth-child(3n) {
  margin-left: 0px;
  margin-right: 0px;
}

.product-photo {
  width: 218px;
  height: 170px;
  z-index: 1;
}

.product-photo:hover {
  z-index: 0;
}

.product-name {
  width: 160px;
  min-height: 40px;
  padding-top: 5px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
}

.product-mark {
  position: absolute;
  top: 15px;
  right: 0px;
  z-index: 11;
  width: 200%;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
  text-transform: lowercase;
  transform: translateX(50%) rotate(45deg);
  transform-origin: 50% -15px;
  background-color: #ee3643;
  user-select: none;
}

.product-mark:empty {
  display: none;
}

.product-price {
  width: 140px;
  min-height: 38px;
  margin-top: 7px;
  margin-left: 8px;
  padding-top: 10px;
  line-height: 18px;
  color: #ffffff;
  background-image: url("../img/red-button.svg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.product-price-special {
  min-height: 20px;
  margin-top: 10px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #999999;
}

.product-availability {
  width: 217px;
  min-height: 100px;
  padding-top: 36px;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

.product-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-availability:focus-within,
.product-item:hover .product-availability {
  z-index: 10;
}

.availability-buy {
  min-width: 95px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  position: relative;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
  text-transform: uppercase;
  border: 0px;
  border-radius: 3px;
  background-color: #63a63e;
  border-bottom: 3px #367315 solid;
  cursor: pointer;
}

.availability-buy:hover {
  background-color: #5fbb2d;
  border-bottom: 3px #367315 solid;
}

.availability-buy:active {
  background-color: #518534;
  border-bottom: 3px #518534 solid;
}

.availability-buy::before {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 11px;
  left: 15px;
  background: url("../img/icon-cart.svg") no-repeat;
  opacity: 0.3;
  content: "";
}

.availability-buy:hover::before {
  opacity: 1;
}

.buy-link {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 23px;
  padding-right: 17px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.availability-bookmarks {
  min-width: 70px;
  height: 12px;
  margin-bottom: 10px;
  position: relative;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  text-align: center;
  text-transform: uppercase;
  border: 3px #63a63e solid;
  border-radius: 3px;
  cursor: pointer;
}

.availability-bookmarks:hover {
  border: 3px #32425c solid;
  border-radius: 3px;
}

.availability-bookmarks:active {
  border: 3px #c1c6ce solid;
  border-radius: 3px;
}

.bookmarks-link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 25px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #32425c;
}

.bookmarks-link:active {
  color: #d0d2d6;
}

.description-perforator {
  min-height: 260px;
  padding-top: 39px;
  margin-bottom: -36px;
}

/* Популярные товары и популярные производители */
.popular-items {
  margin-top: 15px;
}

.popular-product tbody {
  width: 940px;
  margin-bottom: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popular-brands {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  padding: 0px;
  list-style-type: none;
}

.brands-list {
  width: 220px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px #eaeaea solid;
}

.brands-list a {
  width: 220px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands-list:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: 1px #ffffff solid;
}

.brands-list:active {
  box-shadow: 2px 2px 10px rgba(41, 52, 73, 0.5);
  border: 1px #ffffff solid;
}

.brands-list:active img {
  opacity: 0.3;
}

.turn-pages {
  width: 284px;
  max-width: 700px;
  min-height: auto;
  margin-bottom: 60px;
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  font-family: "PT Sans", "Arial", sans-serif;
}

.turn-pages-link {
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  line-height: 18px;
}

.turn-pages-number {
  width: 38px;
  height: 28px;
  padding-top: 7px;
  text-align: center;
  border: 1px #e5e5e5 solid;
  border-radius: 3px;
}

.turn-pages-number:hover {
  border: 1px #bdc6ca solid;
}

.turn-pages-number:active {
  border: 1px #ee3643 solid;
}

.turn-pages-number:target {
  background-color: #ee3643;
}

.turn-page-current {
  background-color: #ee3643;
  border: 1px #ee3643 solid;
}

.turn-page-current .turn-pages-link {
  color: #ffffff;
}

.turn-page-current:hover {
  border: 1px #ee3643 solid;
}

.turn-pages-pointer {
  width: 140px;
  height: 28px;
  padding-top: 7px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  border: 1px #e5e5e5 solid;
  border-radius: 3px;
}

.turn-pages-pointer a {
  padding-left: 30px;
  padding-right: 30px;
}

.turn-pages-pointer:hover {
  border: 1px #bdc6ca solid;
}

.turn-pages-pointer:active {
  border: 1px #ee3643 solid;
}

/* Сервисы - вкладки: Доставка, Гарантия, Кредит */
.service {
  margin-bottom: 50px;
  padding-top: 35px;
  padding-bottom: 20px;
}

.service-info {
  width: 400px;
}

.service-info .content-text {
  margin-top: 27px;
  margin-bottom: 14px;
}

.service-tabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  margin-top: 40px;
}

.service-tabs-name {
  width: 240px;
  position: relative;
  list-style-type: none;
  padding: 0px;
}

.service-tabs-name::after {
  width: 10px;
  height: 279px;
  z-index: 15;
  position: absolute;
  top: -50px;
  left: 230px;
  background-image: url("../img/slider-tabs-shadow.png");
  background-repeat: no-repeat;
  content: "";
}

.service-tabs-caption {
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 60px;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.service-flipping-button {
  width: 195px;
  margin-left: 60px;
  background-color: #ff5357;
}

.service-tabs-list {
  width: 240px;
  height: auto;
  padding-top: 12px;
  padding-bottom: 18px;
  padding-left: 0px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: #32425c;
  border-top: 1px #405069 solid;
  border-bottom: 1px #293449 solid;
}

.service-tabs-list:hover {
  background-color: #293449;
}

.service-tabs-list:active {
  background-color: #ffffff;
  color: #32425c;
}

.active a {
  background-color: #ffffff;
  color: #32425c;
}

.service-tabs-link {
  width: 220px;
  height: auto;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 142px;
  color: #ffffff;
}

.service-tabs-link:active {
  color: #32425c;
}

.service-tabs-flipping {
  display: flex;
  justify-content: flex-end;
  width: 700px;
  min-height: 280px;
  padding-left: 0px;
  margin-left: 0px;
  overflow: hidden;
}

.service-flipping-delivery {
  max-width: 290px;
  z-index: 1;
  margin-top: 0px;
  padding-left: 60px;
  margin-bottom: 40px;
  display: block;
  position: relative;
}

.service-delivery-img {
  width: 700px;
  min-height: 280px;
  background: url("../img/service-delivery.png") no-repeat;
  background-position-x: 230px;
  background-position-y: 40px;
  background-color: #f4f7f9;
}

.service-flipping-guarantee {
  max-width: 418px;
  margin-top: 0px;
  padding-left: 60px;
  height: auto;
  display: block;
  position: relative;
}

.service-guarantee-img {
  display: none;
  width: 700px;
  min-height: 280px;
  background: url("../img/service-guarantee.png") no-repeat;
  background-position-x: 310px;
  background-position-y: 25px;
  background-color: #f4f7f9;
}

.service-flipping-credit {
  max-width: 320px;
  height: auto;
  display: block;
  margin-top: 0px;
  padding-left: 60px;
}

.service-credit-img {
  display: none;
  width: 700px;
  min-height: 280px;
  vertical-align: middle;
  background: url("../img/service-credit.png") no-repeat;
  background-position-x: 220px;
  background-color: #f4f7f9;
}

.service-slide {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  padding-left: 20px;
}

.service-slide:target {
  display: block;
}

/*  Блок Контакты и карта на Главной  */

.content-list {
  width: 100%;
  margin-top: -14px;
  margin-bottom: 20px;
  padding: 0px;
  list-style-type: none;
}

.content-list-item {
  font-size: 18px;
  line-height: 40px;
}

.content-list-item::before {
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  margin-right: 11px;
  background-color: #ee3643;
  content: "";
}

.description {
  max-width: 540px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 100px;
  padding-bottom: 84px;
}

.description p {
  font-size: 13px;
}

.page-map {
  max-width: 300px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-map .content-text {
  width: 200px;
  margin-top: 0px;
  padding-top: 0px;
}

.page-map-img {
  margin-bottom: 30px;
  background: #ffffff;
}

.button-contacts-popup {
  box-sizing: border-box;
  width: 300px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

/* Pop-up, всплывающие окна */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.popup-content {
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  width: 620px;
  min-height: 423px;
  margin: auto;
  background-color: #ffffff;
  box-shadow:
    inset 0 -112px 0 #f4f4f4,
    0 -7px 0 #ee3643,
    0 10px 25px rgba(41, 52, 73, 0.5);
}

.popup-close {
  position: absolute;
  top: 9px;
  right: 9px;
  display: block;
  width: 21px;
  height: 21px;
  border: 0px;
  background: url("../img/icon-close.svg") no-repeat;
}

.popup-close::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.popup-show {
  display: flex;
  z-index: 100;
  animation: bounce 0.6s;
}

.popup-error {
  animation: shake 0.6s;
}

.feedback {
  display: flex;
  flex-direction: column;
  min-height: 423px;
  padding: 0 80px;
  background-color: #ffffff;
}

.feedback-required {
  width: 460px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-required p {
  margin: 48px 0 22px;
}

.feedback-required p:first-child {
  margin-right: 20px;
}

.feedback label {
  width: 220px;
  display: block;
  font-size: 18px;
  line-height: 18px;
}

.feedback input {
  box-sizing: border-box;
  width: 100%;
  min-height: 34px;
  font-size: 13px;
  line-height: 18px;
  margin-top: 8px;
  padding: 0 13px;
  border: 2px #dee3e4 solid;
  border-radius: 2px;
}

.feedback textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 114px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 17px;
  margin-top: 8px;
  padding: 12px 15px;
  color: #a9a9a9;
  border: 2px #dee3e4 solid;
  border-radius: 2px;
  resize: none;
}

.feedback-submit {
  margin-top: auto;
  margin-bottom: 37px;
  text-align: center;
}

.popup-bigmap .popup-content {
  width: 940px;
  height: 446px;
}

.popup-bigmap .popup-content {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popup-bigmap iframe {
  border: none;
}

.buy-alert {
  display: flex;
  flex-direction: column;
  min-height: 275px;
  padding-left: 80px;
  padding-right: 80px;
}

.popup-buy-alert .popup-content {
  min-height: 165px;
}

.buy-alert-message {
  margin-top: 23px;
  padding-top: 0px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.buy-alert-message::before {
  width: 66px;
  height: 66px;
  display: inline-block;
  position: relative;
  margin-right: 35px;
  top: 25px;
  left: 0px;
  background: url("../img/checked-popup.svg") no-repeat;
  /* background-color: #ffffff; */
  border: 0px;
  content: "";
}

.submit-popup {
  display: flex;
  margin-top: auto;
  margin-bottom: 37px;
  text-align: center;
}

.buy-alert-button {
  width: 440px;
}

.button-order {
  box-sizing: border-box;
  min-height: 38px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}

.button-skip {
  box-sizing: border-box;
  width: 220px;
  min-height: 38px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 3px;
  border: none;
  color: #000000;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/*  Логотип компании в подвале  */

.logo-footer {
  width: 220px;
  height: 68px;
  margin-right: auto;
  background-color: #ee3643;
}

.logo-footer-img {
  width: 138px;
  height: 23px;
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 42px;
  padding-right: 40px;
  border-bottom: 5px #b52933 solid;
}

/*  Подвал страницы: Навигация, Адрес, Категория товара  */

.page-footer {
  min-height: 193px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin-top: 0px;
  background-color: #32425c;
  font-size: 18px;
  clear: both;
}

.contacts-footer {
  margin-right: auto;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

.contacts-footer address {
  margin-top: 0px;
  margin-left: 2px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

.contacts-footer a {
  margin-left: 3px;
  text-decoration: none;
  color: #ffffff;
}

.nav-site {
  min-width: 550px;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
}

.nav-category {
  min-width: 575px;
  min-height: 20px;
  margin-top: 10px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
}

.nav-site ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  color: #ffffff;
  list-style-type: none;
}

.nav-site li {
  display: flex;
  align-items: flex-start;
  justify-items: right;
  margin-left: 2px;
  margin-right: 0px;
}

.nav-site-link {
  padding-top: 5px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
}

.nav-site-link:hover {
  text-decoration: underline;
}

.nav-site-link:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.nav-category-link {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #ffd180;
}

.nav-category-link:hover {
  text-decoration: underline;
}

.nav-category-link:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.nav-category ul {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-category li {
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  justify-items: right;
}

/*  Нижний подвал: Копирайт, Соцсети, Обратная связь */

.bottom-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  min-height: 42px;
  padding-top: 20px;
  padding-bottom: 9px;
  font-size: 16px;
  color: #ffffff;
  background-color: #293449;
  background-size: 100%;
}

.bottom-footer li {
  list-style-type: none;
}

.bottom-footer a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #ffd180;
}

.bottom-footer a:hover {
  text-decoration: underline;
}

.bottom-footer a:active {
  color: #ee3643;
  text-decoration: none;
}

.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 240px;
  margin-top: 0px;
  margin-right: 20px;
}

.copyright-developer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  width: 280px;
  margin-left: 20px;
}

.copyright-developer p {
  margin-left: 35px;
  margin-right: 18px;
}

.socials {
  width: 135px;
  flex-grow: 3;
  text-align: center;
  justify-content: center;
  margin-left: 28px;
  margin-right: 0px;
}

.socials ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.socials li {
  margin-right: 2px;
}

.socials li:nth-child(3n) {
  margin-right: 0px;
}

.icon-vk::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  vertical-align: middle;
  background: url("../img/icon-vk.svg") no-repeat;
  background-position: center;
  background-color: #212a3a;
  border-radius: 50%;
  content: "";
}

.icon-vk:hover {
  fill: #ee3643;
}

.icon-fb::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  vertical-align: middle;
  background: url("../img/icon-fb.svg") no-repeat;
  background-color: #212a3a;
  background-position: center;
  border-radius: 50%;
  content: "";
}

.icon-insta::before {
  display: inline-block;
  width: 42px;
  height: 42px;
  vertical-align: middle;
  background: url("../img/icon-insta.svg") no-repeat;
  background-color: #212a3a;
  background-position: center;
  border-radius: 50%;
  content: "";
}
